<script type="text/javascript">
    // borwserRedirect
    (function browserRedirect(){
      var sUserAgent = navigator.userAgent.toLowerCase();
      var bIsIpad = sUserAgent.match(/ipad/i) == 'ipad';
      var bIsIphone = sUserAgent.match(/iphone os/i) == 'iphone os';
      var bIsMidp = sUserAgent.match(/midp/i) == 'midp';
      var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == 'rv:1.2.3.4';
      var bIsUc = sUserAgent.match(/ucweb/i) == 'web';
      var bIsCE = sUserAgent.match(/windows ce/i) == 'windows ce';
      var bIsWM = sUserAgent.match(/windows mobile/i) == 'windows mobile';
      var bIsAndroid = sUserAgent.match(/android/i) == 'android';

      if(bIsIpad || bIsIphone || bIsMidp || bIsUc7 || bIsUc || bIsCE || bIsWM || bIsAndroid ){
        window.location.href = '{APP_PATH}index.php';
      }
    })();
 </script>
{template "content","header"}
<link rel="stylesheet" type="text/css" href="{APP_PATH}css/swiper.min.css">
<style>
.yc_p1{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32px;
    background: #0b1922;
    opacity: 0.6;
}
.yc_p1 span{
	display: block;
    width: 100%;
    line-height: 32px;
    font-size: 14px;
    color: #ffffff;
    text-indent: 0em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.video .video_b .left .l_video .video-img a i{
	display: block;
    width: 76px;
    height: 76px;
    position: relative; 
    left: 40%;
    margin-top: -160px;
    background: url(images/video_pause_big.png) no-repeat;
    z-index: 6;
}
.video .video_b .left .r_video ul li a i {
    display: block;
    width: 49px;
    height: 49px;
    position: relative; 
    left: 45%;
    margin-top: -105px;
    background: url(images/video_pause.png) no-repeat;
    z-index: 6;
}
.video .video_b .left .l_video .video-img:hover i,.video .video_b .left .r_video ul li:hover i{
	-webkit-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all ease-out 250ms;
}
</style>
		
		<div id="index">
		<div class="section">
			<div class="contbox container">
				<div class="ad">
					<ul>
					
						<li><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=1"></script></li>
						<li><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=2"></script></li>
						<li style="margin-right:0px;"><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=3"></script></li>
						<li class="last-child"><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=4"></script></li>
					</ul>
				</div>
				<div class="news">
					<div class="news_t">
						<div class="l">
							<span>最新动态</span>
							<ul>
							{pc:content action="lists" catid="6" num="2" siteid="$siteid" order="inputtime desc"}
								{loop $data $r}
								<li><a href="{$r[url]}">{$r[title]}</a></li>
								{/loop}
							{/pc}
								
							</ul>
						</div>	
						<form action="{APP_PATH}index.php?m=content&c=index&a=search_list" method="post">
						<div class="r">
							<input type="text" name="key">
							<input class="button" type="submit" value=""/>
							
						</div>
						</form>
					</div>
					<div class="news_b">
						<div class="adv">
							<div class="lt">
							{pc:content  action="position" posid="1" num="1" order="listorder desc"}
								{loop $data $r}
								{php $data = list_sort_by($data, 'updatetime', 'desc');}
								{php $posdb = pc_base::load_model('position_data_model'); $pos = $posdb->get_all(array('catid'=>$r[catid],'id'=>$r[id])); }
								 <?php if($pos) foreach($pos as $v){if($v[posid]==1){   ?>
								<div style="width:43.4%;">
									<a href="{$r[url]}">
									<img src="{$r[thumb]}" alt="{$r[title]}">
									<p class="yc_p1"><span>{$r[title]}</span></p>
									
									</a>
									
								<i>原创</i>
									
								</div>
								<?php } } ?>
								{/loop}
							{/pc}
							{pc:content  action="position" posid="1" num="1" start="1" order="listorder desc"}
								{loop $data $r}
								{php $data = list_sort_by($data, 'inputtime', 'desc');}
								{php $posdb = pc_base::load_model('position_data_model'); $pos = $posdb->get_all(array('catid'=>$r[catid],'id'=>$r[id])); }
								 <?php if($pos) foreach($pos as $v){if($v[posid]==1){   ?>
								<div style="width:56.2%;background: #212121;">
									<a href="{$r[url]}">
									<h4>{$r[title]}</h4>
									<p>{$r[description]}</p>
									
									<i>原创</i>
									
									</a>
								</div>
								<?php } } ?>
								{/loop}
							{/pc}
								
								{pc:content  action="position" posid="1" num="1" start="2" order="listorder desc"}
								{loop $data $r}
								{php $data = list_sort_by($data, 'inputtime', 'desc');}
								{php $posdb = pc_base::load_model('position_data_model'); $pos = $posdb->get_all(array('catid'=>$r[catid],'id'=>$r[id])); }
								<?php if($pos) foreach($pos as $v){if($v[posid]==1){   ?>
								<div style="width:56.2%;background: #212121;">
									<a href="{$r[url]}">
									<h4>{$r[title]}</h4>
									<p>{$r[description]}</p>
									
									<i>原创</i>
									</a>
								</div>
								<?php } }?>
								{/loop}
							{/pc}
								{pc:content  action="position" posid="1" num="1" start="3" order="listorder desc"}
								{loop $data $r}
								{php $data = list_sort_by($data, 'inputtime', 'desc');}
								{php $posdb = pc_base::load_model('position_data_model'); $pos = $posdb->get_all(array('catid'=>$r[catid],'id'=>$r[id])); }
								 <?php if($pos) foreach($pos as $v){if($v[posid]==1){   ?>
								<div style="width:43.4%">
									<a href="{$r[url]}">
									<img src="{$r[thumb]}" alt="{$r[title]}">
									<p class="yc_p1"><span>{$r[title]}</span></p>
									</a>
									
									<i>原创</i>
									
								</div>
								<?php } } ?>
								{/loop}
							{/pc}
								
								
								
							</div>
							<ul>
							{pc:content  action="position" posid="5" num="3" order="listorder desc"}
								{loop $data $r}
								{php $data = list_sort_by($data, 'inputtime', 'desc');}
								{php $posdb = pc_base::load_model('position_data_model'); $pos = $posdb->get_all(array('catid'=>$r[catid],'id'=>$r[id])); }
								<?php if($pos) foreach($pos as $v){if($v[posid]==5){   ?> 
								<li {if $n==1}style="background: #0068ab;margin-top:0px;"{/if} {if $n==2}style="background: #38afb6;"{/if} {if $n==3}style="background: #e44c28;"{/if}>
									<a href="{$r[url]}">
									<h4 style="padding: 0 7%;font-size: 16px;">{$r[title]}</h4>
									<!--<p>{$r[description]}</p>-->
									</a>
									<i>热门</i>
								</li>
								<?php } } ?>
								{/loop}
							{/pc}
								
								
							</ul>
						</div>
						<div class="headlines">
							<div class="more">
								今日头条
								<a href="{$CATEGORYS[6][url]}">更多</a>
							</div>
							<ul>
							{php $index1=1;}
							{pc:content  action="position" posid="2" num="7" order="listorder desc"}
								{php $data = list_sort_by($data, 'inputtime', 'desc');}
								{loop $data $r}
								{php $posdb = pc_base::load_model('position_data_model'); $pos = $posdb->get_all(array('catid'=>$r[catid],'id'=>$r[id])); }
								 
								<?php if($pos) foreach($pos as $v){if($v[posid]==2){   ?>
								<li>
									<i class="active">{$index1}</i>
									<a  href="{$r[url]}">{$r[title]}</a>
									<span>{date("m-d",$r[inputtime])}</span>
								</li>
								<?php $index1++;} } ?>
								
								{/loop}
							{/pc}
								
							
							</ul>
							
						</div>
					</div>
				</div>	
				<div style="height:10px;"></div>
				<script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=5"></script>
				<div style="height:10px;"></div>
				<script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=6"></script>
				<div class="publish">
					<div class="pub_l">
						<div class="menu_item more">
							<ul>
							<!--独家辣评-->
							
								<li class="active">{$CATEGORYS[47][catname]}</li>
								<li >{$CATEGORYS[6][catname]}</li>
								<li >{$CATEGORYS[43][catname]}</li>
								<li >{$CATEGORYS[62][catname]}</li>
								
								<a href="{$CATEGORYS[63][url]}">更多</a>
							</ul>	
						</div>
						<div class="detail">
							<!--卡车要闻-->
							<div  class="item active">
								<ul>
									{pc:content action="lists" catid="47" num="4" siteid="$siteid" order="inputtime desc"}
										{loop $data $r1}
										{php $comment_tag = pc_base::load_app_class("comment_tag", "comment"); $comment_total = $comment_tag->count(array('commentid'=>'content_'.$r1[catid].'-'.$r1[id].'-1'));}
										
									<li class="hashead">
										<div class="head">
											<a href="{$r1[url]}" style="display:inline;border:none;"><img src="{$r1[thumb]}" alt="{$r1[title]}"></a>
										</div>
										<div class="desc">
											<h5><a href="{$r1[url]}">{$r1[title]}</a></h5>
											<p> {$r1[description]}</p>
											<div class="share">
												<div class="time"> {date("m-d",$r1[inputtime])} {date("H:i",$r1[inputtime])}</div>
												<div class="btn">
													<div class="share_btn bdsharebuttonbox">
													
													<a href="#" class="bds_more" data-cmd="more" style="background:none;padding-left:0px;">分享</a> 
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["weixin","tsina","sqq"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["weixin","tsina","sqq"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
	  
													
													</div>
													<div class="repeat_btn">{if $comment_total}{$comment_total}{else}0{/if}</div>
													<!--<div class="recommend_btn">
														<span>推荐</span>
														<i>{$views}</i>
													</div>-->
												</div>
											</div>
										</div>
									</li>
										{/loop}
									{/pc}
									
								</ul>
								
							</div>
							
							<!--客车要闻-->
							<div  class="item">
								<ul>
									{pc:content action="lists" catid="6" num="4" siteid="$siteid" order="inputtime desc"}
										{loop $data $r1}
										{php $comment_tag = pc_base::load_app_class("comment_tag", "comment"); $comment_total = $comment_tag->count(array('commentid'=>'content_'.$r1[catid].'-'.$r1[id].'-1'));}
										
									<li class="hashead">
										<div class="head">
											<a href="{$r1[url]}" style="display:inline;border:none;"><img src="{$r1[thumb]}" alt="{$r1[title]}"></a>
										</div>
										<div class="desc">
											<h5><a href="{$r1[url]}">{$r1[title]}</a></h5>
											<p> {$r1[description]}</p>
											<div class="share">
												<div class="time"> {date("m-d",$r1[inputtime])} {date("H:i",$r1[inputtime])}</div>
												<div class="btn">
													<div class="share_btn bdsharebuttonbox">
													
													<a href="#" class="bds_more" data-cmd="more" style="background:none;padding-left:0px;">分享</a> 
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["weixin","tsina","sqq"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["weixin","tsina","sqq"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
	  
													
													</div>
													<div class="repeat_btn">{if $comment_total}{$comment_total}{else}0{/if}</div>
													<!--<div class="recommend_btn">
														<span>推荐</span>
														<i>{$views}</i>
													</div>-->
												</div>
											</div>
										</div>
									</li>
										{/loop}
									{/pc}
									
								</ul>
								
							</div>
							
							<!--房车资讯-->
							<div  class="item">
								<ul>
									{pc:content action="lists" catid="43" num="4" siteid="$siteid" order="inputtime desc"}
										{loop $data $r1}
										{php $comment_tag = pc_base::load_app_class("comment_tag", "comment"); $comment_total = $comment_tag->count(array('commentid'=>'content_'.$r1[catid].'-'.$r1[id].'-1'));}
										
									<li class="hashead">
										<div class="head">
											<a href="{$r1[url]}" style="display:inline;border:none;"><img src="{$r1[thumb]}" alt="{$r1[title]}"></a>
										</div>
										<div class="desc">
											<h5><a href="{$r1[url]}">{$r1[title]}</a></h5>
											<p> {$r1[description]}</p>
											<div class="share">
												<div class="time"> {date("m-d",$r1[inputtime])} {date("H:i",$r1[inputtime])}</div>
												<div class="btn">
													<div class="share_btn bdsharebuttonbox">
													
													<a href="#" class="bds_more" data-cmd="more" style="background:none;padding-left:0px;">分享</a> 
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["weixin","tsina","sqq"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["weixin","tsina","sqq"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
	  
													
													</div>
													<div class="repeat_btn">{if $comment_total}{$comment_total}{else}0{/if}</div>
													<!--<div class="recommend_btn">
														<span>推荐</span>
														<i>{$views}</i>
													</div>-->
												</div>
											</div>
										</div>
									</li>
										{/loop}
									{/pc}
									
								</ul>
								
							</div>
							
							
							<!--环卫车要闻-->
							<div  class="item">
								<ul>
									{pc:content action="lists" catid="62" num="4" siteid="$siteid" order="inputtime desc"}
										{loop $data $r1}
										{php $comment_tag = pc_base::load_app_class("comment_tag", "comment"); $comment_total = $comment_tag->count(array('commentid'=>'content_'.$r1[catid].'-'.$r1[id].'-1'));}
										
									<li class="hashead">
										<div class="head">
											<a href="{$r1[url]}" style="display:inline;border:none;"><img src="{$r1[thumb]}" alt="{$r1[title]}"></a>
										</div>
										<div class="desc">
											<h5><a href="{$r1[url]}">{$r1[title]}</a></h5>
											<p> {$r1[description]}</p>
											<div class="share">
												<div class="time"> {date("m-d",$r1[inputtime])} {date("H:i",$r1[inputtime])}</div>
												<div class="btn">
													<div class="share_btn bdsharebuttonbox">
													
													<a href="#" class="bds_more" data-cmd="more" style="background:none;padding-left:0px;">分享</a> 
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["weixin","tsina","sqq"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["weixin","tsina","sqq"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
	  
													
													</div>
													<div class="repeat_btn">{if $comment_total}{$comment_total}{else}0{/if}</div>
													<!--<div class="recommend_btn">
														<span>推荐</span>
														<i>{$views}</i>
													</div>-->
												</div>
											</div>
										</div>
									</li>
										{/loop}
									{/pc}
									
								</ul>
								
							</div>
							
							
							
						</div>
					</div>
					<div class="pub_r r-switch">
						<div class="menu_box more">
							<ul>
								<li class="active">卡车直播</li>
								<li>客车直播</li>
							</ul>
							<a href="{$CATEGORYS[8][url]}">更多</a>
						</div>
						<div class="desc itembox">
							
							<div class="active item">
								<div class="desc_item">
								{pc:get sql="SELECT * FROM newt_zhibo WHERE catid =17 group by title order by inputtime desc" num="3" return="data"}
									{loop $data $r}
									<a href="{$r[url]}">
										<span class="bg_red">卡车直播</span>
										<img src="{$r[thumb]}" alt="{$r[title]}">
										<p>{$r[title]}</p>
									</a>
									{/loop}
								{/pc}
								</div>
								<ul>
									{pc:get sql="SELECT * FROM newt_zhibo WHERE catid =17 group by title order by inputtime desc" num="7" start="3" return="data"}
									{loop $data $r}
									<li>
										<i>{$n}</i>
										<a href="{$r[url]}">{$r[title]}</a>
									</li>
									{/loop}
								{/pc}
									
								</ul>
							</div>
							
							
								
							<div class="item">
								<div class="desc_item">
								{pc:get sql="SELECT * FROM newt_zhibo WHERE catid =18 group by title order by inputtime desc" num="2" return="data"}
									{loop $data $r}
									<a href="{$r[url]}">
										<span class="bg_red">客车直播</span>
										<img src="{$r[thumb]}" alt="{$r[title]}">
										<p>{$r[title]}</p>
									</a>
									{/loop}
								{/pc}
								</div>
								<ul>
									{pc:get sql="SELECT * FROM newt_zhibo WHERE catid =18 group by title order by inputtime desc" num="7" start="2" return="data"}
									{loop $data $r}
									<li>
										<i>{$n}</i>
										<a href="{$r[url]}">{$r[title]}</a>
									</li>
									{/loop}
								{/pc}
									
								</ul>
							</div>
						
							
							
						</div>
					</div>
				</div>
				 
				<div style="height:10px;"></div>
				<script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=7"></script>
				<!--
				<div class="interview">
					<div class="interview_l">
						<div class="person">
							<div class="title">客 车 一 线</div>
							<div class="swiper-container bannerbox">
						        <div class="swiper-wrapper">
						            <div class="swiper-slide">
										<ul>
										{pc:content action="lists" catid="16" num="3" siteid="$siteid" order="inputtime desc"}
											{loop $data $r}
										<li>
											<a href="{$r[url]}">
												<div class="head"><img src="{$r[thumb]}" alt="{$r[title]}"></div>
												<h5>{$r[title]}</h5>
												<p>{$r[description]}</p>
											</a>
										</li>
											{/loop}
										{/pc}
											
										</ul>
						            </div>
									{pc:content action="lists" catid="16" num="3" start="3" siteid="$siteid" order="inputtime desc"}
									{if $data}
						            <div class="swiper-slide">
										<ul>
											
											{loop $data $r}
										<li>
											<a href="{$r[url]}">
												<div class="head"><img src="{$r[thumb]}" alt="{$r[title]}"></div>
												<h5>{$r[title]}</h5>
												<p>{$r[description]}</p>
											</a>
										</li>
											{/loop}
										
										</ul>
						            </div>
									{/if}
									{/pc}
									
									{pc:content action="lists" catid="16" num="3" start="6" siteid="$siteid" order="inputtime desc"}
									{if $data}
						            <div class="swiper-slide">
										<ul>
											
											{loop $data $r}
										<li>
											<a href="{$r[url]}">
												<div class="head"><img src="{$r[thumb]}" alt="{$r[title]}"></div>
												<h5>{$r[title]}</h5>
												<p>{$r[description]}</p>
											</a>
										</li>
											{/loop}
										
										</ul>
						            </div>
									{/if}
									{/pc}
						            
									
									
						        </div>
						        <div class="swiper-button-next"></div>
						        <div class="swiper-button-prev"></div>
						    </div>
						</div>
						<div class="expert">
							<div class="top">
								<i>卡车一线</i>
								<span></span>
							</div>
							<div class="infor">
								<div class="infor_l">
									<ul>
									{pc:content action="lists" catid="14" num="3" siteid="$siteid" order="inputtime desc"}
											{loop $data $r}
										<li>
											<a href="{$r[url]}">
												<img src="{$r[thumb]}" alt="{$r[title]}">
												<p>
													<span>{$r[title]}</span>
												</p>
											</a>
										</li>
											{/loop}
									{/pc}
										
									</ul>
								</div>
								<div class="infor_r">
									<ul>
									{pc:content action="lists" catid="14" num="12" siteid="$siteid" order="inputtime desc"}
											{loop $data $r}
										<li {if $n==1}class="hot"{/if}>
											<a href="{$r[url]}">{$r[title]}</a>
										</li>
											{/loop}
									{/pc}
										
										
									</ul>
								</div>
							</div>
						</div>
					</div>
					<img class="bz" src="images/index_experts.png" alt="">
					<div class="interview_r r-switch">
						<div class="more">
							<ul>
								<li class="active">数据参考</li>
								<li>客车专题</li>
							</ul>
							<a href="{$CATEGORYS[18][url]}">更多</a>
						</div>
						<div class="itembox">
							<div class="item active">
								<ul>
								{pc:content action="lists" catid="25" num="4" siteid="$siteid" order="inputtime desc"}
											{loop $data $r}
									<li>
										<a href="{$r[url]}">
											<img src="{$r[thumb]}" alt="{$r[title]}">
											<span class="bg_red">数据参考</span>
										</a>
									</li>
									{/loop}
								{/pc}
									
								</ul>
							</div>
							
							<div class="item">
								<ul>
								{pc:content action="lists" catid="24" num="4" siteid="$siteid" order="inputtime desc"}
											{loop $data $r}
									<li>
										<a href="{$r[url]}">
											<img src="{$r[thumb]}" alt="{$r[title]}">
											<span class="bg_red">客车专题</span>
										</a>
									</li>
									{/loop}
								{/pc}
									
								</ul>
							</div>
							
						</div>
					</div>
				</div>
				 -->
				<div style="height:10px;"></div>
				<script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=8"></script>
				<div class="video">
					<div class="video_t">
						<i>视频播报</i>
						<span></span>
					</div>
					<div class="video_b">
						<div class="left">
							<div class="l_video">
								<div class="video-img">
								{pc:content action="lists" catid="9" num="1" siteid="$siteid" order="inputtime desc"}
											{loop $data $r}
									<a href="{$r[url]}">
										<img src="{$r[thumb]}" alt="{$r[title]}">
										<i></i>
									</a>
											{/loop}
								{/pc}
								</div>
								<ul>
								{pc:content action="lists" catid="9" num="4" start="3" siteid="$siteid" order="inputtime desc"}
											{loop $data $r}
									<li ><a href="{$r[url]}">{$r[title]}</a></li>
											{/loop}
								{/pc}
								</ul>
							</div>
							<div class="r_video">
								<ul>
								{pc:content action="lists" catid="9" num="2" start="1" siteid="$siteid" order="inputtime desc"}
											{loop $data $r}
									<li> 
										<a href="{$r[url]}">
											<img src="{$r[thumb]}" alt="{$r[title]}">
											<i></i>
										</a>
									</li>
									{/loop}
								{/pc}
									
									
								</ul>
							</div>
						</div>
						<div class="right r-switch">
							<div class="more">
								<ul>
								
									<li class="active">排行榜</li>
									
								{pc:content action="category" catid="9" num="3" siteid="$siteid" order="listorder ASC"}
									{loop $data $r}
									<li>{$r[catname]}</li>
									{/loop}
								{/pc}
									
								</ul>
							</div>
							<div class="desc">
								
								<div class="item active">
									<ul>
										{pc:content action="lists" catid="9" num="10" siteid="$siteid" order="inputtime desc"}
											{loop $data $r}
										<li>
											<i>{$n}</i>
											<a href="{$r[url]}">{$r[title]}</a>
										</li>
												{/loop}
										{/pc}
									</ul>
								</div>
								{pc:content action="category" catid="9" num="3" siteid="$siteid" order="listorder ASC"}
									{loop $data $r}
								<div class="item">
									<ul>
										{pc:content action="lists" catid="$r[catid]" num="10" siteid="$siteid" order="inputtime desc"}
											{loop $data $r}
										<li>
											<i>{$n}</i>
											<a href="{$r[url]}">{$r[title]}</a>
										</li>
												{/loop}
										{/pc}
									</ul>
								</div>
									{/loop}
								{/pc}
								
							</div>
						</div>
					</div>
				</div>
				<!--
				<div class="club">
					<div class="club_t">
						<i>车友会</i>
						<span></span>
						<p></p>
					</div>
					<div class="club_b">
						<div class="desc">
							<div class="item">
								<div class="imgbox">
								{pc:content action="lists" catid="30" num="1" siteid="$siteid" order="inputtime desc"}
								{loop $data $r}
									<img src="{$r[thumb]}" alt="{$r[title]}">
									{/loop}
								{/pc}
								
								</div>
								<ul>
								{pc:content action="lists" catid="30" num="3" siteid="$siteid" order="inputtime desc"}
								{loop $data $r}
									<li>
										<a href="{$r[url]}">{$r[title]}</a>
										<span>{date("m-d",$r[inputtime])}</span>
									</li>
									{/loop}
									{/pc}
									
								</ul>
							</div>
							<div class="item">
								<div class="imgbox">
									{pc:content action="lists" catid="30" num="1" siteid="$siteid" order="inputtime desc" start="3"}
								{loop $data $r}
									<img src="{$r[thumb]}" alt="{$r[title]}">
									{/loop}
								{/pc}
									
								</div>
								<ul>
									{pc:content action="lists" catid="30" num="3" siteid="$siteid" order="inputtime desc" start="3"}
								{loop $data $r}
									<li>
										<a href="{$r[url]}">{$r[title]}</a>
										<span>{date("m-d",$r[inputtime])}</span>
									</li>
									{/loop}
									{/pc}
								</ul>
							</div>
							<div class="item">
								<div class="imgbox">
									{pc:content action="lists" catid="30" num="1" siteid="$siteid" order="inputtime desc" start="6"}
								{loop $data $r}
									<img src="{$r[thumb]}" alt="{$r[title]}">
									{/loop}
								{/pc}
									
								</div>
								<ul>
									{pc:content action="lists" catid="30" num="3" siteid="$siteid" order="inputtime desc" start="6"}
								{loop $data $r}
									<li>
										<a href="{$r[url]}">{$r[title]}</a>
										<span>{date("m-d",$r[inputtime])}</span>
									</li>
									{/loop}
									{/pc}
								</ul>
							</div>
						</div>
						
						<div class="per">
							<ul>
								{pc:get sql="SELECT newt_member.*,newt_member_kache.gongsi,newt_member_kache.jial,newt_member_kache.licheng,newt_member_kache.cjs,newt_member_kache.xjs,newt_member_kache.zhiye,newt_member_kache.guanzhu,newt_member_kache.pro,newt_member_kache.jingli,newt_member_kache.luxian,newt_member_kache.rongyu,newt_member_kache.xuanyan FROM newt_member left join newt_member_kache on  newt_member.userid=newt_member_kache.userid where groupid =4 order by regdate desc" num="5" return="data"}
								 
								 {loop $data $v}
								 {php  $img=get_memberavatar($v[userid]+1,'','180')}
								 {php $db = pc_base::load_model('dianzan_model'); $dz = $db->get_all(array('userid'=>$v[userid])); }
								<li>
									<div class="headimg">
										<a href="{APP_PATH}index.php?m=content&c=index&a=show_memberdetail&uid={$v[userid]}"><img src="{$img}" alt="{$v[username]}" onerror="src='images/club_head.jpg'"></a>
									</div>
									<p><a href="{APP_PATH}index.php?m=content&c=index&a=show_memberdetail&uid={$v[userid]}">{if $v['nickname']} {$v['nickname']} {else} {$v[username]}{/if}</a></p>
									<div class="thumbs_up">
										<span class="number"><i style="float:left;cursor: auto;background:none;width:auto;">{count($dz)}</i>个点赞</span>
										<span style="float: right;" class="dianzantext">点赞</span>
										<i class="dianzan" data-uid="{$v[userid]}"></i>
									</div>
								</li>
								{/loop}
								 {/pc}
							</ul>
						</div>
					</div>	
				</div>
				-->
				
				<div class="exhibition">
					<h2>会展合作</h2>
					<ul>
						{pc:content action="lists" catid="56" num="10" siteid="$siteid" order="inputtime desc"}
								{loop $data $r}
						<li><a href="{$r[url]}"><img src="{$r[thumb]}" alt="{$r[title]}"></a></li>
								{/loop}
						{/pc}
						
					</ul>
				</div>
				<div class="friend_link">
					<h2>友情链接</h2>
					<ul>
						{pc:link action="type_list" siteid="" linktype="0" typeid="0" order="listorder DESC" num="20"}
							{loop $data $r}
							<li>
							<a href="{$r[url]}" target="_blank">{$r[name]}</a>&nbsp;
							</li>
							{/loop}
						{/pc}
		
						
					</ul>
				</div>
				<script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=9"></script>
			</div>
		</div>
		
{template "content","footer"}
<script type="text/javascript" src="js/swiper.min.js"></script>
	<script type="text/javascript">
		new Swiper('.swiper-container', {
	        //pagination: '.swiper-pagination',
	        paginationClickable: true,
	        nextButton: '.swiper-button-next',
	        prevButton: '.swiper-button-prev',
	        spaceBetween: 30
	    });
		var caverling = {
			init:function(){
				this.djlp();
				this.xj();
			},
			djlp:function(){
				//独家辣评 车辆报告 经典回顾 行业动态的切换
				$("#index .pub_l .menu_item li").on("click",function(){
					var index = $(this).index();
					$("#index .pub_l .menu_item li").removeClass("active");
					$(this).addClass("active");
					$("#index .pub_l .detail .item").removeClass("active");
					$("#index .pub_l .detail .item").eq(index).addClass("active");
				});
			},
			xj:function(){
				//新品发布 精彩赛事 切换
				$("#index .r-switch .more li").on("click",function(){
					var index = $(this).index();
					$(this).parents(".more").find("li").removeClass("active");
					$(this).addClass("active");
					$(this).parents(".r-switch").find(".item").removeClass("active");
					$(this).parents(".r-switch").find(".item").eq(index).addClass("active");
				});
			}
		}
		caverling.init();
		
		
		$(".dianzan").click(function(){
			var $t = $(this);
			var userid=$(this).data('uid');
		
			var catid=0;
			var wid=0;
			$.post("index.php?m=content&c=rss&a=dianzan",{catid:catid,wid:wid,userid:userid},function(data){
				
				if(data.status){
				
					$t.siblings('.dianzantext').html("成功");
					$t.siblings('.number').children('i').text(data.num);
				}
				
				
			},"json");
		
		
		});
	</script>
<style>
.r-switch .item{display:none;}
.r-switch .active{display:block;}
</style>


