<script type="text/javascript">
    // borwserRedirect
    (function browserRedirect(){
      var sUserAgent = navigator.userAgent.toLowerCase();
      var bIsIpad = sUserAgent.match(/ipad/i) == 'ipad';
      var bIsIphone = sUserAgent.match(/iphone os/i) == 'iphone os';
      var bIsMidp = sUserAgent.match(/midp/i) == 'midp';
      var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == 'rv:1.2.3.4';
      var bIsUc = sUserAgent.match(/ucweb/i) == 'web';
      var bIsCE = sUserAgent.match(/windows ce/i) == 'windows ce';
      var bIsWM = sUserAgent.match(/windows mobile/i) == 'windows mobile';
      var bIsAndroid = sUserAgent.match(/android/i) == 'android';

      if(bIsIpad || bIsIphone || bIsMidp || bIsUc7 || bIsUc || bIsCE || bIsWM || bIsAndroid ){
        window.location.href = '{APP_PATH}index.php?m=content&c=index&a=show&catid={$catid}&id={$id}';
      }
    })();
 </script>
{template "content","header"}
	<link rel="stylesheet" href="{APP_PATH}depend/videoCT.css">
	
	{php $comment_tag = pc_base::load_app_class("comment_tag", "comment"); $comment_total = $comment_tag->count(array('commentid'=>'content_'.$catid.'-'.$id.'-'.$modelid));}
		
		<div id="video_detail">
		<div class="section">
			<div class="container sec_cont">
				<div class="title_position">
					<a href="{siteurl($siteid)}">首页</a> {catpos($catid)}
				</div>
				<div class="desc">
					<div class="video">
						<div class="video_title">
							<h5>{$title}</h5>
							<span>{$inputtime}</span>
							<i class="seen" id="hits"></i>
							<i class="repeat">{if $comment_total}{$comment_total}{else}0{/if}</i>
						</div>
						{pc:get sql="SELECT newt_video_data.* FROM newt_video_data where id=$id" return="data1"}
									{loop $data1 $v1}
										{php $arr1=string2array($v1[sp])}
									
									{if $arr1}
						
						
									<div class="videoBox" style="margin-top:10px;margin-bottom:10px;">
										<video src="{$arr1[0]['fileurl']}" style="padding-bottom: 60px;"></video>
									</div>
									{/if}
									{/loop}
						{/pc}
									
						<div  style="width:auto;height:auto;background:none;">
							
							{$content}
						</div>
						
					</div>
					<div class="user">
						<div class="user-head">	
						{php $db = pc_base::load_model('member_model'); $_r = $db->get_one(array('username'=>$username)); $userid = $_r[userid];}
					
						{php $avatar= get_memberavatar($userid,'','90');}
							<div class="head-box">
								<img src="{$avatar}" height=90 width=90 style="border-radius: 50%;" onerror="this.src='{APP_PATH}images/index_publis_head.png'" alt="{$title}">
							</div>
							<div class="head-infor">
								<div class="infor-name">
									<h5>{$username}</h5>
									{php $uid=param::get_cookie('_userid');}
									{php $caredb = pc_base::load_model('careinfo_model'); $care = $caredb->get_one(array('uid'=>$userid,'userid'=>$uid));}
									{if $care}
									<a href="javascript:;">已关注</a>
									{else}
									<a href="javascript:;" id="addcare" onclick="addcare('{$userid}','{$uid}')">加关注</a>
									{/if}
								</div>
								<p>喜欢就点击订阅吧！</p>
							</div>
						</div>
						<div class="user-share">
							<div class="share-to">分享到：</div>
							<div class="bdsharebuttonbox" style="float:left;"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["weixin","tsina","sqq"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["weixin","tsina","sqq"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
	  
							<ul>
								<li>
								
									
									{php $db = pc_base::load_model('dianzan_model'); $_r = $db->get_all(array('catid'=>$catid,'wid'=>$id)); }
						
						<span class="share-dz" style="float:left;padding-top:20px;width:40px;text-align:center;font-size:14px;" id="dianzan" onclick="dianzan('{$catid}','{$id}','{$userid}')">{count($_r)}</span>
						
						
						
						
								</li>
								<li>
								
									<span class="share-sc" id='favorite'>
										<a href="javascript:;" onclick="add_favorite('{addslashes($title)}');"><p style="margin-top:10px;">收藏</p></a>
									</span>
									
									
									  
								</li>
							</ul>
						</div>
						
						
	  
						
					</div>
					
					<div style="clear:both;"></div>
					<div>
					{if $allow_comment && module_exists('comment')}
      <iframe src="{APP_PATH}index.php?m=comment&c=index&a=init&commentid={id_encode("content_$catid",$id,$siteid)}&iframe=1" width="100%" height="100%" id="comment_iframe" frameborder="0" scrolling="no"></iframe>

					{/if}
					</div>
					
				</div>
			</div>
		</div>
{template "content","footer"}
<script src="{APP_PATH}depend/videoCT.js"></script>
	<script type="text/javascript">
	$(function(){
			var caverling = {
				init:function(){
					this.repeat();
					this.submit();
					this.back();
					this.videoInit();
				},
				repeat:function(){
					$("#video_detail .com_desc .right .time span").on("click",function(){
						var html = '<div class="repeatbox" style="margin-top:-2px">\
									<div class="back">\
									</div>\
									<textarea name="">文明上网，不传谣言，登录评论！</textarea>\
									<div class="btnbox">\
										<button>发表评论</button>\
									</div>\
								</div>';
						$(this).parents(".item").after(html);
					});
				},
				submit:function(){
					$("#video_detail .comment .itembox").on("click",".repeatbox .btnbox button",function(){
						var a = $(this).parents(".repeatbox").find("textarea").val().trim();
						if(!a){
							alert("请输入评论信息");
							return false;
						}
						return;
						$.ajax({
							url:"",
							data:"",
							type:"post",
							success:function(){

							},
							error:function(){

							}
						});
					});
				},
				back:function(){
					$("#video_detail .comment .itembox").on("click",".repeatbox .back",function(){
						$(this).parents(".repeatbox").remove();
					});
				},
				videoInit:function(){
					$("video").each(function(){
						$(this).videoCt({
							title: '',              //标题
				            volume: 0.2,                //音量
				            barrage: true,              //弹幕开关
				            comment: true,              //弹幕
				            reversal: true,             //镜像翻转
				            playSpeed: true,            //播放速度
				            update: true,               //下载
				            autoplay: false,            //自动播放
				            clarity: {
				                type: [],            //清晰度
				                src: [$(this).attr("src")]      //链接地址
				            },
				            //commentFile: 'comment.json'           //导入弹幕json数据
						});
					});
				}
			}
			caverling.init();
		});
	
	function add_favorite(title) {
		$.getJSON('{APP_PATH}api.php?op=add_favorite&title='+encodeURIComponent(title)+'&url='+encodeURIComponent(location.href)+'&'+Math.random()+'&callback=?', function(data){
			if(data.status==1)	{
				$("#favorite p").html('收藏成功');
			} else {
				alert('请登录');
				location.href="index.php?m=member&c=index&a=login";
			}
		});
	}
	
	function dianzan(catid,id,userid){

		var catid=catid;
		var wid=id;
		$.post("index.php?m=content&c=rss&a=dianzan",{catid:catid,wid:wid,userid:userid},function(data){
			
			$("#dianzan").html("点赞成功");
		});
	

}

function addcare(uid,userid){
	//当前用户id  userid
	//被关注用户id  uid
	if(userid){
	
	$.post("index.php?m=content&c=rss&a=addcare",{uid:uid,userid:userid},function(data){
			
			$("#addcare").html("已关注");
			$("#addcare").attr('onclick','');
		});
	
	}else{
		alert('请登录');
				location.href="index.php?m=member&c=index&a=login";
	}

}



	</script>
	
	<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
