@charset "utf-8";

html *{
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  font-size:10px;
  -webkit-tap-highlight-color:rgba(0,0,0,0) !important;
}
html,body{
  background: #f7f7f7;
}
body{
  max-width: 768px;
  margin:0 auto;
  overflow-x:hidden;
}
li{
  list-style:none;
}
a{
  text-decoration: none;
}
/*input[type=checkbox],
input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 13px;
  height: 13px;
  margin: 0;
  cursor: pointer;
  vertical-align: bottom;
  background: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  outline: none;
}
input[type=checkbox]:active,
input[type=radio]:active {
  border-color: #c6c6c6;
  background: #ebebeb;
}
input[type=checkbox]:hover {
  border-color: #c6c6c6;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
}
input[type=radio] {
  border-radius: 50%;
  width: 12px;
  height: 12px;
}
input[type=checkbox]:checked,
input[type=radio]:checked {
  background: #fff;
}
input[type=radio]:checked::after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  background: #666;
  border-radius: 50%;
}
input[type=checkbox]:checked::after {
  content: url(//ssl.gstatic.com/ui/v1/menu/checkmark.png);
  display: block;
  position: absolute;
  top: -6px;
  left: -5px;
}*/
header{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 0.82rem;
  border-bottom: 1px solid #dbdbdb;
  background: #fff;
  z-index: 100;
  padding:0 0.2rem;
  overflow: hidden;
}
header .header-logo{
  float: left;
  width: 0.57rem;
  margin-top:0.07rem;
}
header .header-logo img{
  width: 50%;
  margin-top: -33px;
}
header ul{
  float: right;
}
header ul li{
  float: left;
}
header ul li:first-child{
  margin-right: 0.42rem;
}
header ul img{
  display: block;
}
footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.91rem;
  border-top:1px solid #ddd;
  background: #fff;
  z-index: 100;
}
footer ul{
  width: 100%;
  height: 100%;
}
footer li{
  float: left;
  width: 20%;
  height: 100%;
  position: relative;
}
footer li a{
  color:#3c3c3c;
  display: block;
  height: 100%;
  font-size:0.22rem;
  text-align: center;
  padding-top:0.5rem;
  line-height: 150%;
}
footer li a.home{
  background: url('../images/home.png') center 0.1rem no-repeat;
  background-size:0.43rem;
}
footer li a.home.active{
  background: url('../images/index_home_focus.png') center 0.1rem no-repeat;
  background-size:0.43rem;
}
footer li a.news{
  background: url('../images/news.png') center 0.11rem no-repeat;
  background-size:0.43rem;
}
footer li a.news.active{
  background: url('../images/news_active.png') center 0.11rem no-repeat;
  background-size:0.43rem;
}
footer li a.video{
  background: url('../images/video.png') center 0.11rem no-repeat;
  background-size:0.36rem;
}
footer li a.video.active{
  background: url('../images/video_focus.png') center 0.11rem no-repeat;
  background-size:0.36rem;
}
footer li a.car{
  background: url('../images/car.png') center 0.09rem no-repeat;
  background-size:0.43rem 0.37rem;
}
footer li a.percenter{
  background: url('../images/percenter.png') center 0.13rem no-repeat;
  background-size:0.29rem;
}
footer li a.percenter.active{
  background: url('../images/percenter_focus.png') center 0.13rem no-repeat;
  background-size:0.29rem;
}
footer li a.active{
  color:#dc311b;
}
#confirm{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 200;
  display: none;
}
#confirm .infor{
  position: absolute;
  top:40%;
  left: 50%;
  width: 4.66rem;
  height:2.42rem ;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  background: #fff;
}
#confirm .infor p{
  font-size:0.26rem;
  color:#3c3c3c;
  text-align: center;
  margin-top:0.48rem;
  line-height: 0.3rem;
}
#confirm .infor ul{
  width: 100%;
  position: absolute;
  bottom: 0.6rem;
  left: 0;
}
#confirm .infor ul li{
  float: left;
  width: 50%;
}
#confirm .infor li span{
  display: block;
  width: 1.16rem;
  height: 0.42rem;
  background: #465b70;
  text-align: center;
  font-size:0.24rem;
  color:#fff;
  line-height: 0.42rem;
}
#confirm .infor li:first-child span{
  float: right;
  margin-right:0.63rem;
}
#confirm .infor li:last-child span{
  float: left;
  margin-left:0.63rem;
}
section.register{
  padding:0 0.2rem;
  overflow: hidden;
}
section.register .type{
  width: 100%;
  height: 0.65rem;
  overflow: hidden;
  margin-top:0.86rem;
}
section.register .type a{
  float: left;
  display: block;
  width: 1.52rem;
  height: 0.58rem;
  background: #cccccc;
  text-align: center;
  line-height: 0.58rem;
  font-size: 0.28rem;
  color: #fff;
  border-radius: 0.1rem;
  margin-right: 0.38rem;
  position: relative;
}
section.register .type a.car{
  margin-left: 0.35rem;
}
section.register .type a.other{
  margin-right: 0;
}
section.register .type a:before{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -3px;
    width: 0;
    height: 0;
    border-top: 6px solid #cccccc;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    display: none;
}
section.register .type a.active{
  background:#d03b3d; 
}
section.register .type a.active:before{
   border-top: 6px solid #d03b3d;
   display: block;
}
section.register ul{
  width: 100%;
  overflow: hidden;
}
section.register ul li{
    width: 100%;
    height: 0.6rem;
    margin-top: 0.24rem;
    overflow: hidden;
    position: relative;
}
section.register ul li label.input{
  width: 1.3rem;
  display: block;
  float: left;
  height: 100%;
  line-height: 40px;
  font-size:0.26rem;
  color: #3c3c3c;
  text-align: right;
}
section.register ul li input.input{
    display: block;
    float: right;
    width: 3.82rem;
    height: 100%;
    border: 1px solid #dddddd;
    border-radius: 0;
    font-size: 0.24rem;
    color: #3c3c3c;
    outline: none;
    margin-right: 5px;
    padding: 0 0.1rem;
    margin-right: 0.46rem;
    -webkit-appearance:none; 
}
section.register ul li  input::-webkit-input-placeholder {
  color:#c1c1c1;
}
section.register ul li  input:-moz-placeholder {
  color:#c1c1c1;
}
section.register ul li  input::-moz-placeholder {
  color:#c1c1c1;
}
section.register ul li  input:-ms-input-placeholder {
  color:#c1c1c1;
}
section.register ul li button{
    display: block;
    border: none;
    outline: none;
    background: #465b70;
    width: 100%;
    height: 0.92rem;
    line-height: 0.92rem;
    text-align: center;
    font-size: 0.3rem;
    color: #fff;
    border-radius: 0.1rem;
    -webkit-appearance: none;
}
section.register ul li .write-area{
  float: right;
  width: 3.82rem;
  height: 1.52rem;
  position: relative;
  padding:0.14rem 0.1rem;
  border: 1px solid #dddddd;
  margin-right: 0.46rem;
}
section.register li .write-area span{
  display: block;
  position: absolute;
  top:0.14rem;
  left: 0.1rem;
  font-size:0.24rem;
  color:#c1c1c1;
}
section.register li .write-area textarea{
    display: block;
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
   border:none;
    font-size: 0.24rem;
    color: #3c3c3c;
    -webkit-appearance: none;
    border-radius: 0;
}
section.register ul li:last-child{
  margin-top:0.54rem;
}
section.register ul li .head-upload{
  width: 3.82rem;
  float: right;
  margin-right: 0.46rem;
  position: relative;
}
section.register li .head-upload img{
  display: block;
  width: 0.96rem;
}
section.register li .head-upload input.file{
  display: block;
  position: absolute;
  top:0;
  left: 0;
  width: 0.96rem;
  height: 0.96rem;
  opacity: 0;
}
section.register li select{
  display: block;
  width:3.82rem;
  float: right;
  margin-right: 0.46rem;
  height: 100%;
  border: 1px solid #dddddd;
  font-size: 0.24rem;
  color: #3c3c3c;
  outline: none;
  -webkit-appearance: none;
  padding-left:0.1rem;
  border-radius: 0;
  position: relative;
}
section.register li i{
  display: block;
  position: absolute;
  top:50%;
  right: 0.56rem;
  width:0;
  height: 0;
  margin-top:-2px;
  border-top:4px solid #a2a2a2;
  border-left:4px solid transparent;
  border-right:4px solid transparent;
}
section.register li span.year{
  float: right;
  margin-right: 0.46rem;
  font-size:0.26rem;
  color:#3c3c3c;
  line-height:0.6rem ;
  display: block;
  width:0.48rem ;
  text-align: center;
}
section.register li .jobBox{
    width: 3.82rem;
    float: right;
    margin-right: 0.46rem;
}
section.register li .jobBox input.input{
  margin-right: 0;
  width: 3.34rem;
  float: left;
}
section.register li .jobBox .item{
  width: 100%;
    height: 0.6rem;
    margin-top: 0.1rem;
    position: relative;
}
section.register li .jobBox .item:first-child{
  margin-top: 0;
}
section.register li .jobBox img.add,section.register li .jobBox img.reduce{
  float: right;
  width:0.3rem;
  display: block;
  margin-top:0.15rem;
  margin-right: 0.09rem;
}
section.information{
  padding-bottom: 0.92rem;
}
section.information ul{
  width:100% ;
  background: #fff;
  border-top:1px solid #f1f1f1;
  margin-top:0.18rem;
}
section.information ul:first-child{
  margin-top:0;
  border-top:none;
}
section.information ul li{
  width: 100%;
  height: auto;
  border-bottom: 1px solid #f1f1f1;
  overflow: hidden;
  position: relative;
}
section.information ul li label{
  display: block;
  width: 1.6rem;
  height: 0.74rem;
  line-height: 0.74rem;
  font-size:0.24rem;
  color:#3c3c3c;
  position: absolute;
  top:0;
  left: 0.2rem;
  /*z-index: 4;*/
}
section.information ul li .input-box{
  width: 100%;
  height: 0.74rem;
  padding-left:1.8rem;
  padding-right: 0.2rem;
}
section.information ul li input{
  display: block;
   width: 100%;
   height: 100%;
  border: none;
  text-align: right;
  border-radius: 0;
  font-size: 0.24rem;
  color: #7d7d7d;
  outline: none;
  -webkit-appearance: none;
}
section.information ul li select{
  display: block;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  text-align: right;
  direction: rtl;
  outline: none;
  font-size: 0.24rem;
  color: #7d7d7d;
  border:none;
}
section.information li .add-experice{
  width: 100%;
  height: 0.58rem;
  background: #dedede;
  text-align: center;
  line-height: 0.58rem;
  font-size:0.22rem;
  color:#fff;
}
section.information li dl{
  width: 100%;
  min-height: 0.74rem;
}
section.information li dl dd{
  height:0.5rem ;
  width: 100%;
  overflow: hidden;
  position: relative;
}
section.information li dl dd:first-child{
  margin-top:0;
  margin-bottom: 0 !important;
}
section.information li dl dd:last-child{
  margin-bottom: 0.2rem;
}
section.information li dd span{
  font-size: 0.24rem;
  color: #7d7d7d;
  text-align: right;
  display: block;
  padding-right:24px ;
  width: 100%;
  line-height: 0.74rem;
  height: 100%;
}
section.information li dd i{
  display: block;
  position: absolute;
  top:0.38rem;
  right: 5px;
  width:12px;
  height: 0.5rem;
  margin-top:-0.25rem;
}
section.information li dd i:before{
  content: '';
  position: absolute;
  top:50%;
  left: 0;
  margin-top:-1px;
  width: 100%;
  height: 2px;
  background: #465b70
}
section.information .buttonbtn{
  display: block;
  border: none;
  outline: none;
  background: #dc321b;
  width: 100%;
  height: 0.74rem;
  line-height: 0.74rem;
  text-align: center;
  font-size: 0.3rem;
  color: #ffffff;
  -webkit-appearance: none;
  position: fixed;
  bottom: 0;
  left: 0;
}
#menu-switch{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 200;
  display: none;
}
#menu-switch .menu-title{
    width: 100%;
    height: 0.82rem;
    border-bottom: 1px solid #dbdbdb;
    background: #f7f7f7;
    line-height: 0.82rem;
    padding-right: 0.2rem;
}
#menu-switch .menu-title img{
  display: block;
  width:0.35rem;
  float: right;
  margin-top:0.235rem;
}
#menu-switch ul{
  width: 100%;
}
#menu-switch ul li{
  width: 25%;
  float: left;
  margin-top:0.48rem;
}
#menu-switch ul li a{
  display: block;
  width:1.2rem;
  margin:0 auto;
}
#menu-switch li a img{
  display: block;
  width: 0.85rem;
  margin:0 auto;
}
#menu-switch li a p{
  font-size:0.26rem;
  line-height: 0.3rem;
  color:#3c3c3c;
  margin-top:0.13rem;
  text-align: center;
}
header.another-style{
  padding:0;
}
header.another-style nav{
  width: 100%;
  height: 0.82rem;
  padding:0 0.2rem;
}
header.another-style nav .nav-left{
  float: left;
}
header.another-style nav .nav-right{
  float: right;
}
header.another-style nav a{
  display: block;
  width: 0.54rem;
  height: 100%;
}
header.another-style nav .nav-right a{
  float: left;
  margin-right: 0.63rem;
}
header.another-style nav .nav-right a:last-child{
  margin-right: 0;
}
header.another-style nav a img{
  display: block;
  width: 0.34rem;
  margin-top:-0.65rem;
}
header.another-style nav .nav-left img{
  width: 0.36rem;
  margin-top:0.13rem;
}
header.another-style nav a p{
  font-size:0.16rem;
  text-align: center;
  color:#465b70;
  line-height: 0.2rem;
  margin-top:0.05rem;
}
header.another-style nav .nav-left p{
  color:#ff9600;
  margin-top:0.04rem;
}
header.another-style .header-search{
  width: 100%;
  padding:0.13rem 0.2rem;
  background: #3c4f60;
  position: relative;
}
header.another-style .header-search input{
  display: block;
  width: 100%;
  height: 0.66rem;
  outline: none;
  border: 1px solid #d2d2d2;
  padding-left: 0.7rem;
  padding-right: 0.15rem;
  color: #3c3c3c;
  border-radius: 0.66rem;
  font-size: 0.24rem;
  background: #ffffff;
  -webkit-appearance:none; 
}
header.another-style .header-search i{
  display: block;
  position: absolute;
  top:50%;
  left: 0.2rem;
  width:0.7rem;
  height:0.66rem ;
  background: url('../images/interview_article_search.png') 0.3rem center no-repeat;
  background-size:0.31rem;
  margin-top:-0.33rem;
}
header.another-style .header-search input::-webkit-input-placeholder {
  color:#b6b6b6;
}
header.another-style .header-search input:-moz-placeholder {
  color:#b6b6b6;
}
header.another-style .header-search input::-moz-placeholder {
  color:#b6b6b6;
}
header.another-style .header-search input:-ms-input-placeholder {
  color:#b6b6b6;
}
section.another-style nav{
  width: 100%;
  height: 0.7rem;
  padding:0 0.2rem;
  background: #fff;
}
section.another-style nav .nav-inner{
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #efefef;
  text-align: center;
  padding-top:0.1rem;
  position: relative;
  z-index: 2;
}
section.another-style nav .nav-inner h3{
  font-size:0.24rem;
  color:#3c4f60;
  position: absolute;
  top:0.1rem;
  left: 0;
  padding-left:0.14rem;
  height: 0.6rem;
  line-height: 0.55rem;
}
section.another-style nav .nav-inner h3:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top:-0.08rem;
    width: 0.08rem;
    height: 0.08rem;
    border-radius: 50%;
    background: #3c4f60;
}
section.another-style nav ul{
  display:inline-block;
}
section.another-style nav ul li{
  float: left;
  margin-right: 0.52rem;
  padding:0 2px;
  border-bottom: 0.05rem solid transparent;
  line-height: 0.55rem;
  height: 100%;
  position: relative;
}
section.another-style nav ul li:before{
  content: '';
  position: absolute;
  right: -0.26rem;
  top:50%;
  width:1px ;
  height:0.24rem ;
  margin-top:-0.14rem;
  background: #3c3c3c;
}
section.another-style nav ul li:last-child:before{
  display: none;
}
section.another-style nav ul li:last-child{
  margin-right: 0;
}
section.another-style nav ul li a{
  font-size:0.24rem;
  color:#3c3c3c;
}
section.another-style nav ul li.active{
  border-color:#dc311b;
}
section h3.title{
  width: 100%;
  font-size:0.24rem;
  color:#3c3c3c;
  position: relative;
  height: 0.3rem;
  line-height: 0.3rem;
  padding-left:0.14rem;
  margin-top:0.18rem;
}
section h3.title:before{
  content: '';
  position: absolute;
  top:50%;
  left:0 ;
  width: 3px;
  height: 0.24rem;
  margin-top:-0.12rem;
  background: #465b70;
}
section .comment-box{
  width: 100%;
  overflow: hidden;
  background: #fff;
  border-top:1px solid #eaeaea;
  border-bottom:1px solid #eaeaea;
  padding:0 0.2rem;
}
section .comment-box ul{
  position: relative;
  padding-bottom: 0.5rem;
}
section .comment-box li,section .comment-box dd{
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #efefef;
  padding:0.38rem 0 0.3rem 0;
}
section .comment-box dl{
  background: #f9f9f9;
  position: relative;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
section .comment-box dd{
  padding:0.25rem 0 0.12rem 0;
  border-bottom: 1px dashed #efefef;
}
section .comment-box li:last-child,section .comment-box dd:last-child{
  border-bottom: none;
}
section .comment-box li:first-child{
  padding-top:0.28rem;
}
section .comment-box img{
  display: block;
  width: 0.68rem;
  height: 0.68rem;
  border-radius: 50%;
  margin:0 0.12rem 0 0.04rem;
}
section .comment-box .desc{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  width: 100%;
}
section .comment-box .desc .name-time{
  width: 100%;
  overflow: hidden;
  height:0.28rem ;
  color:#3c3c3c;
  line-height: 0.28rem;
}
section .comment-box .desc .name-time span:first-child{
  float: left;
  font-size:0.22rem;
}
section .comment-box .desc .name-time span:last-child{
  float: right;
  font-size:0.2rem;
  margin-right: 0.1rem;
}
section .comment-box .desc p{
  font-size: 0.2rem;
  color:#707070;
  line-height: 150%;
  margin-top:0.1rem;
  padding-right: 0.1rem;
}
section .comment-box dl i.up{
  display: block;
  height: 0.16rem;
  width:0.27rem;
  background: url('../images/news_detail_slideup.png') no-repeat;
  background-size: cover;
  position: absolute;
  top:-0.16rem;
  left: 0.5rem;
}
section .comment-box ul i.down{
  display: block;
  width:0.5rem;
  background: url('../images/news_detail_comment_more.png') center 0 no-repeat;
  background-size:0.24rem;
  position: absolute;
  bottom:0.15rem;
  left:50%;
  margin-left:-0.25rem;
  font-size:0.22rem;
  color:#3c3c3c;
  text-align: center;
  padding-top:0.32rem;
  font-style: normal;
  line-height: 0.26rem;
}
section .relate-article{
  width: 100%;
  overflow: hidden;
  background: #fff;
  border-top:1px solid #eaeaea;
  border-bottom:1px solid #eaeaea;
  padding:0 0.2rem;
  margin-top:0.18rem;
}
section .relate-article li{
  width: 100%;
  border-bottom: 1px solid #efefef;
}
section .relate-article li:last-child{
  border-bottom: none;
}
section .relate-article li a{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  padding:0.26rem 0 0.36rem 0;
}
section .relate-article a img{
  display: block;
  width: 1.79rem;
  height: 1.24rem;
  margin-right:0.14rem;
}
section .relate-article a .desc{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  overflow: hidden;
}
section .relate-article .desc h5{
  font-size:0.22rem;
  color:#3c3c3c;
  padding-right: 0.1rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 0.26rem;
  margin-bottom: 0.16rem;
  margin-top:0.06rem;
}
section .relate-article .desc .time-seen{
  width: 100%;
  height:0.24rem ;
  overflow: hidden;
}
section .relate-article .time-seen span{
  display: block;
  float: left;
  height: 100%;
  line-height: 0.24rem;
  font-size:0.2rem;
  color:#142d3e;
}
section .relate-article .time-seen span.time{
  padding-left: 0.25rem;
  background: url('../images/interview_article_time.png') 0 center no-repeat;
  background-size: 0.17rem;
  margin-right: 0.2rem;
  color:#aaaaaa;
}
section .relate-article .time-seen span.seen{
  padding-left: 0.3rem;
    background: url('../images/news_detail_seen.png') 0 center no-repeat;
    background-size: 0.22rem;
    margin-right: 0.3rem;
    color: #242424;
}
section .relate-article .time-seen span.repeat{
  padding-left: 0.23rem;
    background: url('../images/news_detail_repeat_small.png') 0 center no-repeat;
    background-size: 0.15rem;
    margin-right: 0.3rem;
    color: #242424;
}
section .relate-article .tags{
  width: 100%;
  height: 0.29rem;
  overflow: hidden;
  margin-top:0.22rem;
}
section .relate-article .tags div{
  float: left;
  width: 0.57rem;
  height: 100%;
  text-align: center;
  font-size:0.2rem;
  line-height: 0.27rem;
  margin-right:0.1rem ;
}
section .relate-article .tags div:last-child{
  margin-right: 0;
}
section .relate-article .tags div.hot{
  color:#ff6633;
  border:1px solid #ff6633;
}
section .relate-article .tags div.tt{
  color:#ff0000;
  border:1px solid #ff0000;
}
section .relate-article .tags div.yc{
  color:#00a9e1;
  border:1px solid #00a9e1;
}