<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-Type" content="text/html;charset=utf-8">
	<meta name="description" content="环球商用车">
	<meta name="keywords" content="环球商用车">
	<meta name="author" content="环球商用车">
	<meta name="copyright" content="环球商用车">
	<meta http-equiv="X-UA-Compatible" content="IE-11">
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0">
	<title>{if isset($setting[meta_title]) && !empty($setting[meta_title])}{$setting[meta_title]}{/if}{$SEO['site_title']}</title>
	<meta name="keywords" content="{$SEO['keyword']}">
	<meta name="description" content="{$SEO['description']}">  
	
	<link rel="stylesheet" type="text/css" href="{APP_PATH}phpcms/templates/twzb_wap/css/common.css">
	<link rel="stylesheet" type="text/css" href="{APP_PATH}phpcms/templates/twzb_wap/css/twzb.css">
	<script type="text/javascript" src="{APP_PATH}phpcms/templates/twzb_wap/js/jquery.min.js"></script>
	<script type="text/javascript" src="{APP_PATH}phpcms/templates/twzb_wap/js/setRootSize.js"></script>
	<script type="text/javascript" src="{APP_PATH}phpcms/templates/twzb_wap/js/common.js"></script>
	<script type="text/javascript">
		var FontSize = new RootSize();
	</script>
</head>
<body>
<header>
			<a href="{APP_PATH}index.php" class="header-logo">
			{pc:get sql="SELECT * FROM newt_page WHERE catid=2" return="data"}
					 {loop $data $val}
					 {$val['content']}
					 {/loop}
					 {/pc}
			</a>
			<ul>
			{php $uid=param::get_cookie('_userid');}
			{if $uid}
				<li><a href="{APP_PATH}index.php?m=member"><img style="width:0.26rem;margin-top:0.22rem" src="{APP_PATH}phpcms/templates/twzb_wap/images/per_per.png" alt=""></a></li>
			{else}
				<li><a href="{APP_PATH}index.php?m=member&c=index&a=login"><img style="width:0.26rem;margin-top:0.22rem" src="{APP_PATH}phpcms/templates/twzb_wap/images/per_per.png" alt=""></a></li>
			{/if}
				<li><a class="menu-btn"><img style="width:0.33rem;margin-top:0.26rem" src="{APP_PATH}phpcms/templates/twzb_wap/images/per_more.png" alt=""></a></li>
			</ul>
		</header>