
<?php 
$sitelist  = getcache('sitelist','commons');
$default_style = $sitelist[$siteid]['default_style'];
include template('content','top',$default_style."_wap");
?>

	<div id="news_list_news">
	
		
		
		<section style="margin-top:1.74rem;padding-bottom: 1.18rem;" class="another-style">
			<nav>
				<div class="nav-inner">
					<ul>
					{pc:content action="category" catid="0" num="3" siteid="$siteid" order="listorder ASC"}
						{loop $data $r}
						<li {if $catid==$r[catid]} class="active" {/if} ><a>{$r[catname]}</a></li>
						{/loop}
					{/pc}
						
					</ul>
				</div>
			</nav>
			<div class="article">
			{pc:content action="category" catid="0" num="3" siteid="$siteid" order="listorder ASC"}
						{loop $data $r}
				<div class="nav-item">
					<ul>
					{pc:content action="lists" catid="$r[catid]" num="10" siteid="$siteid" order="inputtime desc" moreinfo="1"}
								{loop $data $r1}
								{php $db = pc_base::load_model('hits_model');   $_r = $db->get_one(array('hitsid'=>'c-1-'.$r1[id])); $views = $_r[views]; }
								{php $comment_tag = pc_base::load_app_class("comment_tag", "comment"); $comment_total = $comment_tag->count(array('commentid'=>'content_'.$r1[catid].'-'.$r1[id].'-1'));}
								{php list($copyfrom) = explode('|', $r1['copyfrom'])}		
								{php $posdb = pc_base::load_model('position_data_model'); $pos = $posdb->get_all(array('catid'=>$r1[catid],'id'=>$r1[id])); }
								{php $a=string2array($r[pictureurls])}
								
								{php $mdb = pc_base::load_model('member_model'); $_mr = $mdb->get_one(array('username'=>$r1[username])); $userid = $_mr[userid];}
								
						<li>
							<a href="{$r1[url]}">
								<div class="tags-title">
									<h3>{$r1[title]}</h3>
									<div class="tags">
										
									<?php  
									if($pos) 
									foreach($pos as $v){ 
									if($v[posid]==1)
									{echo "<div class='yc'>原创</div>";}
									elseif($v[posid]==2)
									{echo "<div class='tt'>头条</div>";}
									else{echo "<div class='hot'>热门</div>";} 
									};?>
									
									</div>
								</div>
								<dl>
									<dd><img src="{$r1[thumb]}" alt="{$r1[title]}"></dd>
									<dd><img src="{APP_PATH}phpcms/templates/twzb_wap/images/interview_article_item_1.png" alt=""></dd>
									<dd><img src="{APP_PATH}phpcms/templates/twzb_wap/images/interview_article_item_2.png" alt=""></dd>
								</dl>
								<div class="article-time">
									<span class="time"> {date("m-d",$r1[inputtime])} </span>
									<span class="seen">{$views}</span>
									<span class="repeat">{if $comment_total}{$comment_total}{else}0{/if}</span>
									{if $userid}<span class="user" style="margin-right: 0.16rem;">  作者：{$r1[username]}</span>{/if}
									<span class="from"> 来源：{if $copyfrom} {$copyfrom} {else} 环球商用车 {/if}</span>
								</div>
							</a>
						</li>
						{/loop}
					{/pc}
						
						
					</ul>
				</div>
				
						{/loop}
			{/pc}	
			
			</div>
		</section>
	
	
<?php 
$sitelist  = getcache('sitelist','commons');
$default_style = $sitelist[$siteid]['default_style'];
include template('content','footer',$default_style."_wap");
?>
	
	
	<script type="text/javascript">
		$(function(){
			CommonFun.init();
			$("#news_list_news section nav ul li").on("click",function(){
				var index = $(this).index();
				$("#news_list_news section  nav ul li").removeClass("active");
				$(this).addClass("active");
				$("#news_list_news section .nav-item").hide();
				$("#news_list_news section .nav-item").eq(index).show();
			})
		})
	</script>
	
	<link type="text/css" media="all" rel="stylesheet" href="css/dropload.css">
	<script src="lib/dropload.js"></script>
