<div id="menu-switch">
		<div class="menu-title">
			<img src="{APP_PATH}phpcms/templates/twzb_wap/images/nav_del.png" alt="">
		</div>
		<ul>
			<li>
				<a href="{APP_PATH}index.php">
					<img src="{APP_PATH}phpcms/templates/twzb_wap/images/nav_home.png" alt="">
					<p>首页</p>
				</a>
			</li>
			
			{pc:content action="category" catid="0" num="7" siteid="$siteid" order="listorder ASC"}
						{loop $data $r}
					<li>
						<a href="{$r[url]}">
							<img src="{APP_PATH}phpcms/templates/twzb_wap/images/nav_{$n}.png" alt="{$r[catname]}">
							<p>{$r[catname]}</p>
						</a>
					</li>
						{/loop}
				{/pc}
				
					<li>
						<a href="{APP_PATH}index.php?m=member">
							<img src="{APP_PATH}phpcms/templates/twzb_wap/images/nav_grzx.png" alt="个人中心">
							<p>个人中心</p>
						</a>
					</li>
					
		
		</ul>
	</div>
	
	</body>
</html>