<?php 
$sitelist  = getcache('sitelist','commons');
$default_style = $sitelist[$siteid]['default_style'];
include template('content','header',$default_style."_wap");
?>

	<div id="video_detail">
	
				
		<section style="padding-top:0.82rem;padding-bottom: 0.91rem;">
			<div class="img-box"><img src="{$thumb}" alt="{$title}"></div>
			<div class="video-detail">
				<h3>{$title}</h3>
				<div class="author-infor">
				{php $db = pc_base::load_model('member_model'); $_r = $db->get_one(array('username'=>$username)); $userid = $_r[userid];}
					
				{php $avatar= get_memberavatar($userid,'','90');}
					<img <img src="{$avatar}" onerror="this.src='{APP_PATH}phpcms/templates/twzb_wap/images/news_detail_head.png'" alt="{$title}">
					<div class="infor-name">
						<div class="name">
							<span>{$username}</span>
							{php $uid=param::get_cookie('_userid');}
									{php $caredb = pc_base::load_model('careinfo_model'); $care = $caredb->get_one(array('uid'=>$userid,'userid'=>$uid));}
									{if $care}
									<a href="javascript:;">已关注</a>
									{else}
									<a href="javascript:;" id="addcare" onclick="addcare('{$userid}','{$uid}')">加关注</a>
									{/if}
						</div>
						{if $_r}
						<p>{$_r[xuanyan]}</p>
						{else}
						{/if}
					</div>
				</div>
				<div class="addr">
					<p>直播时间：{$shijian}</p>
					<p>直播地点：{$address}</p>
					<p>观看次数：<span id="hits"></span>次</p>
				</div>
				{pc:get sql="SELECT newt_zhibo.id,newt_zhibo.inputtime FROM newt_zhibo where catid=$catid and title='$title' order by inputtime desc" return="data"}
								 
								 {loop $data $v}
								 {pc:get sql="SELECT newt_zhibo_data.* FROM newt_zhibo_data where id=$v[id]" return="data1"}
									{loop $data1 $v1}
				<div class="video-infor">
					<span class="time">{date("Y-m-d H:i:s",$v[inputtime])}</span>
					<div class="music">
										{php $arr=string2array($v1[yinpin]);}
										{if $arr}
										<a href="javascript:;" class="sound_ico"><img src="{APP_PATH}images/sound.png" class="sound_img" myaudio="{$arr[0]['fileurl']}"></a>
										{/if}
						
					</div>
					{php $arr1=string2array($v1[shipin]);}
									{if $arr1}
					<div class="videoBox" style="margin-top:10px;margin-bottom:10px;">
						<video preload="load" src="{$arr1[0]['fileurl']}" width="100%"></video>
					</div>
									{/if}
					<div class="detail">
					<p class="brief">{$v1['content']}</p>
					</div>
					
				
				</div>
				
										{/loop}
									{/pc}
								{/loop}
								{/pc}
				
			</div>
			<div class="comment-box" style="margin-top: 0.2rem">
				{if $allow_comment && module_exists('comment')}
				  <iframe src="{APP_PATH}index.php?m=comment&c=index&a=init&commentid={id_encode("content_$catid",$id,$siteid)}&iframe=1" width="100%" height="100%" id="comment_iframe" frameborder="0" scrolling="no"></iframe>
				
				{/if}
			</div>
		</section>
	</div>

<?php 
$sitelist  = getcache('sitelist','commons');
$default_style = $sitelist[$siteid]['default_style'];
include template('content','menu',$default_style."_wap");
?>
<style>
.video-player .video-controls .video-seek > .viewBox {
    display: none;
    width: 100px;
    height: 70px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.2);
	
	}
</style>
<script src="depend/videoCT.js"></script>
	<script type="text/javascript">
		$(function(){
			CommonFun.init();	
			var caverling = {
				init:function(){
					this.hideComment();
					this.loadMoreComment();
					this.videoInit();
				},
				hideComment:function(){
					$("section .comment-box dl i.up").on("click",function(){
						$(this).parents("dl").hide();
					})
				},
				loadMoreComment:function(){
					$("section .comment-box ul i.down").on("click",function(){
						var html = '';
						for(var i=0;i<3;i++){
							html += '<li>\
								<img src="images/news_detail_comment_item.png" alt="">\
								<div class="desc">\
									<div class="name-time">\
										<span>飞天HIPPOP</span>\
										<span>3小时前</span>\
									</div>\
									<p>我有一个大胆的想法。随即大货车穿越两车之间，直接悲 剧了</p>\
								</div>\
							</li>';
						}
						$(this).parents("ul").append(html);
					})
				},
				
				
				videoInit:function(){
					$("video").each(function(){
						//$(this).trigger("click");
						$(this).videoCt({
							title: '',              //标题
				            volume: 0.2,                //音量
				            barrage: true,              //弹幕开关
				            comment: true,              //弹幕
				            reversal: true,             //镜像翻转
				            playSpeed: true,            //播放速度
				            update: true,               //下载
				            autoplay: false,            //自动播放
				            clarity: {
				                type: [],            //清晰度
				                src: [$(this).attr("src")]      //链接地址
				            },
				            //commentFile: 'comment.json'           //导入弹幕json数据
						});
					});
				}
				
				
			}
			caverling.init();
			
			$(".video-detail .detail img").attr('style','width:100%;height:auto;');
		})
	</script>
<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>

	<script>
	function addcare(uid,userid){
	//当前用户id  userid
	//被关注用户id  uid
	if(userid){
	
		$.post("index.php?m=content&c=rss&a=addcare",{uid:uid,userid:userid},function(data){
				
				$("#addcare").html("已关注");
				$("#addcare").attr('onclick','');
			});
	
	}else{
		alert('请登录');
				location.href="index.php?m=member&c=index&a=login";
	}
	

}

var audio = null;
$(".sound_img").bind("click", function(){

		if(null != audio)
		{
			audio.pause();
			audio = null;
			
			$(this).attr("src", "images/sound.png");
			
		}
		else
		{
		
			audio = document.createElement("audio");
			var src = $(this).attr("myaudio");
			audio.onerror = function(){
				src = src.replace(global_info.yun_domain, global_info.main_domain);
				$(this).unbind("error");
				audio.src = src;
				audio.play();
			}
			audio.src = src;
			$(this).attr("src", "images/sound.gif");
			audio.play();
			var that = this;
			audio.onended = function(){
				$(that).attr("src", "images/sound.png");
			}
		}
		
	});
	
	
	</script>