<?php 
$sitelist  = getcache('sitelist','commons');
$default_style = $sitelist[$siteid]['default_style'];
include template('content','header',$default_style."_wap");
?>
<style>
	.article .nav-item .parameter_cnt_item .parameter_cnt_list{
		width:100%;
	}
</style>
<link rel="stylesheet" href="{APP_PATH}phpcms/templates/twzb_wap/css/gouche_show.css">
	<div id="news_detail">
		
		<section style="padding-top:0.82rem;padding-bottom: 0.7rem;" class="gouche another-style">
			<div class="news-infor">
				<div><img src="{$thumb}" style="width: 100%;"> </div>
				<h3>{$title}</h3>
				<div class="price">报价：<span>￥{$price}</span></span></div>
				

			</div>
			<div class="xinxi">
				<span class="first">基本信息：</span>
				<span>驱动形式：{$qd}</span>
				<span>总质量：{$zl}</span>
				<span>发动机：{$fdj}</span>
				<span>排放标准：{$bz}</span>
				<span>最大马力：{$ml}</span>
				<span>变速箱：{$bsx}</span>


			</div>

			<div class="relate-article">
				<h3 class="title">实拍图</h3>
				<ul>
					<li>
						{loop $pics $pic_k $r}
						<img src="{thumb($r[url])}" width="49%" alt="{$r[alt]}" rel="{$r[url]}"/>
						{/loop}

					</li>
				</ul>
			</div>

				<nav style="padding:0 0.05rem">
					<div class="nav-inner">
						<ul>

							<li  class="active"><a>参数展示</a></li>
							<li><a>车型特点</a></li>
							<li><a href="{$CATEGORYS[77][url]}">我要买车</a></li>


						</ul>
					</div>
				</nav>
				<div class="article">
					<div class="nav-item wrapper" >
						{$cs}

					</div>
					<div class="nav-item wrapper" >
						{$content}

					</div>


				</div>







		</section>
	</div>

<?php 
$sitelist  = getcache('sitelist','commons');
$default_style = $sitelist[$siteid]['default_style'];
include template('content','menu',$default_style."_wap");
?>


<script type="text/javascript">
    $(function(){
        CommonFun.init();
        $("#news_detail section nav ul li").on("click",function(){
            var index = $(this).index();
            $("#news_detail section nav ul li").removeClass("active");
            $(this).addClass("active");
            $("#news_detail section .nav-item").hide();
            $("#news_detail section .nav-item").eq(index).show();
        })
    })
</script>