<title>图文直播 - {L('member','','member').L('manage_center')}</title>
<link href="{CSS_PATH}reset.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}member.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}table_form.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
<script type="text/javascript" src="{JS_PATH}member_common.js"></script>
{if isset($show_validator)}
<script type="text/javascript" src="{JS_PATH}formvalidator.js" charset="UTF-8"></script>
<script type="text/javascript" src="{JS_PATH}formvalidatorregex.js" charset="UTF-8"></script>
{/if}

<?php 
$sitelist  = getcache('sitelist','commons');
$default_style = $sitelist[1]['default_style'];
include template('content','header',$default_style."_wap");
?>
<div id="edit_password"  style="margin-top:1rem">
<form method="post" action="" id="myform" name="myform">
		<ul>
			<li>
				<label for="">原密码</label>
				<input type="password" placeholder="单行输入" name="info[password]" id="password" size="30" >
			</li>
			<li>
				<label for="">新密码</label>
				<input type="password" placeholder="单行输入" name="info[newpassword]" id="newpassword" size="30">
			</li>
			<li>
				<label for="">重复新密码</label>
				<input type="password" placeholder="单行输入" name="info[renewpassword]" id="renewpassword" size="30">
			</li>
			
			<li>
				<span>密码由6-26个字母，数字或符号组成</span>
			</li>
			<li>
				
				<input name="dosubmit" type="submit" id="dosubmit" value="提交" class="button">
			</li>
		</ul>
		</form>
	</div>
	
	

<div class="clear"></div>


<link rel="stylesheet" type="text/css" href="{APP_PATH}phpcms/templates/twzb_wap/css/mdialog.css">
<script type="text/javascript" src="{APP_PATH}phpcms/templates/twzb_wap/js/zepto.min.js"></script>
<script type="text/javascript" src="{APP_PATH}phpcms/templates/twzb_wap/js/mdialog.js"></script>
	<script>
	 $(function(){
		$("#dosubmit").click(function(){
			if(!$("#password").val()){
				new TipBox({type:'error',str:'原密码不能为空!',hasBtn:true});  
				return false;
			}
			
			if(!$("#newpassword").val()){
				new TipBox({type:'error',str:'新密码不能为空!',hasBtn:true});  
				return false;
			}
			
			if(!$("#renewpassword").val()){
				new TipBox({type:'error',str:'重复新密码不能为空!',hasBtn:true});  
				return false;
			}
			
			if($("#renewpassword").val()!=$("#newpassword").val()){
				new TipBox({type:'error',str:'两次输入密码不一致!',hasBtn:true});  
				return false;
			}
		
		});
		
		
	 })
	</script>




<script type="text/javascript">
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
	$("#password").formValidator({onshow:"{L('input').L('password')}",onfocus:"{L('password').L('between_6_to_20')}"}).inputValidator({min:6,max:20,onerror:"{L('password').L('between_6_to_20')}"});
	$("#newpassword").formValidator({onshow:"{L('input').L('password')}",onfocus:"{L('password').L('between_6_to_20')}"}).inputValidator({min:6,max:20,onerror:"{L('password').L('between_6_to_20')}"}).regexValidator({regexp:"password",datatype:"enum",onerror:"密码只能是数字,字母 和 -_()等字符"});
	$("#renewpassword").formValidator({onshow:"{L('input').L('cofirmpwd')}",onfocus:"{L('input').L('passwords_not_match')}",oncorrect:"{L('passwords_match')}"}).compareValidator({desid:"newpassword",operateor:"=",onerror:"{L('input').L('passwords_not_match')}"});	
	$("#email").formValidator({onshow:"{L('input').L('email')}",onfocus:"{L('email').L('format_incorrect')}",oncorrect:"{L('email').L('format_right')}"}).inputValidator({min:2,max:32,onerror:"{L('email').L('between_2_to_32')}"}).regexValidator({regexp:"email",datatype:"enum",onerror:"{L('email').L('format_incorrect')}"}).ajaxValidator({
	    type : "get",
		url : "",
		data :"m=member&c=index&a=public_checkemail_ajax",
		datatype : "html",
		async:'false',
		success : function(data){	
            if( data == "1" ) {
                return true;
			} else {
                return false;
			}
		},
		buttons: $("#dosubmit"),
		onerror : "{L('deny_register').L('or').L('email_already_exist')}",
		onwait : "{L('connecting_please_wait')}"
	}).defaultPassed();
})
//-->
</script>
