<title>图文直播 - {L('member','','member').L('manage_center')}</title>
<link href="{CSS_PATH}reset.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}member.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}table_form.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
<script type="text/javascript" src="{JS_PATH}member_common.js"></script>
{if isset($show_validator)}
<script type="text/javascript" src="{JS_PATH}formvalidator.js" charset="UTF-8"></script>
<script type="text/javascript" src="{JS_PATH}formvalidatorregex.js" charset="UTF-8"></script>
{/if}

<?php 
$sitelist  = getcache('sitelist','commons');
$default_style = $sitelist[1]['default_style'];
include template('content','header',$default_style."_wap");
?>
<script type="text/javascript" src="{JS_PATH}formvalidator.js" charset="UTF-8"></script>
<script type="text/javascript" src="{JS_PATH}formvalidatorregex.js" charset="UTF-8"></script>
<link href="{CSS_PATH}dialog.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{JS_PATH}dialog.js"></script>
<script language="JavaScript">
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
	$("#nickname").formValidator({onshow:"{L('input').L('nickname')}",onfocus:"{L('nickname').L('between_2_to_20')}"}).inputValidator({min:2,max:20,onerror:"{L('nickname').L('between_2_to_20')}"}).regexValidator({regexp:"ps_username",datatype:"enum",onerror:"{L('nickname').L('format_incorrect')}"}).ajaxValidator({
	    type : "get",
		url : "",
		data :"m=member&c=index&a=public_checknickname_ajax&userid={$memberinfo[userid]}",
		datatype : "html",
		async:'false',
		success : function(data){
            if( data == "1" ) {
                return true;
			} else {
                return false;
			}
		},
		buttons: $("#dosubmit"),
		onerror : "{L('already_exist')}",
		onwait : "{L('connecting_please_wait')}"
	}).defaultPassed();

	{$formValidator}
});

//-->
</script>

<div id="reporter_infor" style="margin-top:1rem;width:auto;">
<form method="post" action="" id="myform" name="myform">
		<section class="information">
			<ul>
				
				
				{loop $forminfos $k $v}
					
					<li>
					<label for="">{$v['name']}</label>
					<div class="input-box">
						{$v['form']}
					</div>
					</li>
				{/loop}
				<li>
					<label for="" style="z-index:0px;">昵称</label>
					<div class="input-box">
						<input type="text" id="nickname" name="nickname" value="{$memberinfo['nickname']}">
					</div>
				</li>	
				
					
				
			</ul>
			<input name="dosubmit" type="submit" id="dosubmit" value="保存" class="buttonbtn">
			
		</section>
</form>
	</div>
<link rel="stylesheet" type="text/css" href="{APP_PATH}phpcms/templates/twzb_wap/css/mdialog.css">
<script type="text/javascript" src="{APP_PATH}phpcms/templates/twzb_wap/js/zepto.min.js"></script>
<script type="text/javascript" src="{APP_PATH}phpcms/templates/twzb_wap/js/mdialog.js"></script>
	<script>
	 $(function(){
		$("#dosubmit").click(function(){
			if(!$("#nickname").val()){
				new TipBox({type:'error',str:'昵称不能为空!',hasBtn:true});  
				return false;
			}
			
			if(!$("#gongsi").val()){
				new TipBox({type:'error',str:'公司不能为空!',hasBtn:true});  
				return false;
			}
			
			if(!$("#guanzhu").val()){
				new TipBox({type:'error',str:'关注信息不能为空!',hasBtn:true});  
				return false;
			}
			
			
		
		});
		
		
	 })
	</script>


	
	<style>
	section.information .button{
		width:40px;
		background: #ddd;
		height: 24px;
		border-top: 0;
		border-left: 0;
		border-bottom: 1px solid #666;
		border-right: 1px solid #666;
		padding: 3px 6px;
		margin-right: 5px;
		float:right;
	}
	section.information ul li input{background:none;}
	section.information ul li .ib{float:right;}
	section.information ul li select{float:left;}
	</style>


<div class="clear"></div>


<?php 
$sitelist  = getcache('sitelist','commons');
$default_style = $sitelist[1]['default_style'];
include template('content','menu',$default_style."_wap");
?>

