<title>图文直播 - {L('member','','member').L('manage_center')}</title>
<link href="{CSS_PATH}reset.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}member.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}table_form.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
<script type="text/javascript" src="{JS_PATH}member_common.js"></script>
{if isset($show_validator)}
<script type="text/javascript" src="{JS_PATH}formvalidator.js" charset="UTF-8"></script>
<script type="text/javascript" src="{JS_PATH}formvalidatorregex.js" charset="UTF-8"></script>
{/if}

<?php 
$sitelist  = getcache('sitelist','commons');
$default_style = $sitelist[1]['default_style'];
include template('content','header',$default_style."_wap");
?>
<link href="{CSS_PATH}dialog.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{JS_PATH}dialog.js"></script>
<script language="javascript" type="text/javascript" src="{JS_PATH}content_addtop.js"></script>
<div id="collect" style="margin-top:50px;">
		<ul>
		{if $favoritelist}
		{loop $favoritelist $k $v}
			<li style="height: 1.6rem;">
				<a href="{$v['url']}">
					<!--<div class="img-box">
						<img src="images/collect_item_0.jpg" alt="">
					</div>-->
					<div class="infor-box">
						<h3>{$v['title']}</h3>
						<p>{format::date($v['adddate'], 1)}</p>
						<!--<p>近期，我们相继为大家带来了中国品牌以及主流合资品牌2017上半年销量解析，而今天，我们将继续为您带来各大</p>-->
					</div>
				</a>
				<span><a href="index.php?m=member&c=index&a=favorite&id={$v['id']}" style="color:#fff;padding-left: 0.25rem;">{L('delete')}</a></span>
			</li>
		{/loop}
		{else}
		<li style="height: 1.6rem;">暂无任何收藏</li>
		
		{/if}
		</ul>
	</div>



<div class="clear"></div>
<?php 
$sitelist  = getcache('sitelist','commons');
$default_style = $sitelist[1]['default_style'];
include template('member','footer',$default_style."_wap");
?>